function Memory.init 0
push constant 0
pop pointer 0
push constant 0
pop static 1
push constant 2048
pop static 0
push static 0
push constant 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 0
push constant 1
add
push constant 16384
push constant 2048
sub
push constant 2
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.peek 0
push constant 0
pop pointer 0
push static 1
push argument 0
add
pop pointer 1
push that 0
return
function Memory.poke 0
push constant 0
pop pointer 0
push static 1
push argument 0
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.alloc 2
push constant 0
pop pointer 0
push static 0
pop local 1
label L0
push local 1
push constant 0
eq
not
not
if-goto L1
push local 1
push constant 1
add
pop pointer 1
push that 0
push argument 0
push constant 2
add
lt
not
not
if-goto L2
push local 1
push constant 1
add
push local 1
push constant 1
add
pop pointer 1
push that 0
push argument 0
sub
push constant 2
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 2
add
push local 1
push constant 1
add
pop pointer 1
push that 0
add
pop local 0
push local 0
push constant 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 2
add
return
goto L3
label L2
label L3
push local 1
push constant 0
add
pop pointer 1
push that 0
pop local 1
goto L0
label L1
push constant 6
call Sys.error 1
pop temp 0
function Memory.deAlloc 1
push constant 0
pop pointer 0
push static 0
pop local 0
label L4
push local 0
push constant 0
add
pop pointer 1
push that 0
push constant 0
eq
not
not
if-goto L5
push local 0
push constant 0
add
pop pointer 1
push that 0
pop local 0
goto L4
label L5
push local 0
push constant 0
add
push argument 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
