function Window.init 0
push argument 0
pop pointer 0
push constant 0
return
function Window.ratote 0
push argument 0
pop pointer 0
push constant 0
return
function Window.ratote 0
push argument 0
pop pointer 0
push constant 0
return
